body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #f0f0f0;
    color: #000000;
}

header {
    background-color: #201444;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    z-index: 2;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.admin-content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.admin-section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.admin-section h2 {
    margin-top: 0;
    font-size: 24px;
}

.admin-section label,
.admin-section input[type="text"],
.admin-section button[type="submit"] {
    display: block;
    width: 100%;
}

.admin-section input[type="text"],
.admin-section textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.logout-button {
    font-size: 16px;
    background-color: #3498db;
    color: #ffffff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', Arial, sans-serif;
    margin-top: 10px;
}

.logout-button:hover {
    background-color: #2980b9;
}

/* Style for the channel select dropdown */
#channelSelect,
#channelSelectEditor,
#userRoleSelect {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}

#channelSelect option,
#channelSelectEditor option,
#userRoleSelect option {
    font-size: 16px;
}

.view-log-button {
    font-size: 16px;
    background-color: #3498db;
    color: #ffffff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', Arial, sans-serif;
    margin-top: 10px;
}

.view-log-button:hover {
    background-color: #2980b9;
}

.combined-input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.combined-input select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 5px;
}

.combined-input input[type="text"] {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 5px;
}

#actionSelect,
#roleSelect {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    outline: none;
}

.navigation {
    position: fixed;
    top: 0;
    left: -100px;
    bottom: 0;
    width: 80px;
    background-color: #416eeb;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    transition: left 0.5s;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin-bottom: 10px;
}

.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
}

.navigation a:hover {
    background-color: #7d66be;
    border-color: #ffffff;
    cursor: pointer;
}

.navigation select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    outline: none;
}

@media (max-width: 1000px) {
    .navigation {
        display: none;
    }
}

/*Submit Button*/
.admin-section button[type="submit"] {
    font-size: 16px;
    background-color: #3498db;
    color: #ffffff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', Arial, sans-serif;
}

.admin-section button[type="submit"]:hover {
    background-color: #2980b9;
}